* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11%;
}

.brand {
    color: #007bff;
    font-weight: bold;
    font-size: 26px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    text-transform: uppercase;
}

section {
    width: 100%;
    padding: 60px 0;
}

.hero-section {
    background: rgba(180, 216, 255, 0.45);
}

.container {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1200px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}

.hero-text, .hero-image {
    flex: 1;
    height: 100%;
}

p {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: all .2s ease;
}

.btn-primary {
    background: #007bff;
    color: #fff;
}

.btn-outline {
    color: #007bff;
}

.btn-primary:hover {
    background: #0153ac;
}

.btn-outline:hover {
    background: #007bff;
    color: #fff;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .8em;
}

.hero-text h2 {
    color: #007bff;
    font-size: 42px;
}

.api-section {
    background: #ededed;
}

.api-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.api-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.api-card {
    min-width: 250px;
    max-width: 320px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 20px;
    width: max-content;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card-title {
    color: #007bff;
}

.card-link {
    text-decoration: none;
    color: #007bff;
    margin-top: auto;
    padding-top: 10px;
}

a:focus, button:focus {
    outline: 3px solid #dd9700;
    border-radius: 5px;
}

a:not(.btn):focus {
    padding: 5px;
    outline: 3px solid #dd9700;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.footer-text {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

.products-cards {
    padding-top: 40px;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card-image, .product-card-content {
    flex: 1;
}

.product-card-title {
    color: #0056b8;
}

.product-card-subtitle {
    font-weight: bold;
}

li {
    margin-bottom: .8em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-hr {
    width: 96%;
    margin: 30px auto;
    border-radius: 20px;
    border: none;
    outline: none;
    height: 1px;
    background: #e8e8e8;
}

.pricing-section {
    background: #e8e8e8;
    padding-top: 0!important;
}

.pricing-cards {
    display: flex;
    margin: 3.8em 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 0px 3px 0px #cdcdcd;
    border-radius: 10px;
    background: #f9f9f9;
    padding: 20px 40px;
    height: max-content;
}

.pricing-title {
    font-size: 1.8em;
}

.pricing-info-header {
    font-weight: bold;
}

.pricing-card-header {
    text-align: center;
    color: #0056b3;
}

.pricing-card-price {
    font-size: 3em;
    font-weight: bold;
    color: #20b920;
}

.pricing-card-per-second {
    font-size: 20px;
    color: gray;
    font-weight: 600;
}

.pricing-card-link {
    text-decoration: none;
    width: 85%;
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

a {
    transition: all .2s ease;
}

.pricing-card-link:hover {
    color: #0056b3;
}

.pricing-card-text {
    text-align: center;
    margin: 1em 0;
}

.pricing-card:nth-child(2) {
    border: 1px solid #007bff;
    background: #deecff;
    padding: 30px 40px;
}

.hero-section .btn {
    margin-bottom: 5px;
}

.card-text {
    margin: auto 0;
}

@media (max-width: 1024px) {
    .pricing-cards {
        flex-direction: column;
    }
    .pricing-card {
        width: 95%;
    }

    .pricing-card:nth-child(2) {
        width: 100%;
    }
}

@media(max-width: 910px) {
    .api-cards {
        gap: 20px;
    }
}
@media(max-width: 810px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 120px;
    }
    .hero-container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .product-card {
        flex-direction: column;
    }
    .product-card-content {
        padding-left: 0!important;
    }
}

@media(max-width: 430px) {
    header {
        padding: 10px 0;
    }
}

.hero-image img, .product-card-image img {
    width: 100%;
}

.product-card-content {
    padding-left: 20px;
}