.error-container {
    top: 80px;
    right: 20px;
}

.header-row, .token-row {
    justify-content: space-between;
    padding: 10px 20px;
}

.row p {
    margin-bottom: 0!important;
}

.text-green {
    color: #23bf48 !important;
}

.token-create {
    padding: 0!important;
}

.text-disable {
    color: #919191;
    user-select: none;
}

.ws-header {
    justify-content: center;!important;
    gap: 100px!important;
}

.ws-header .item {
    align-items: center!important;
    gap: 10px!important;
}

.bills_container {
    border: 2px solid black;
}
